input {
    border: solid black 2px;
    border-radius: 30px;
    height: 35px;
    width: 160px;
    text-align: center;
}

table {
    display: flex;
    justify-content: center;
    border-spacing: 20px 0px;
    border-collapse: collapse;
}

tr td {
    width: 100vw;
    border-bottom: solid black 4px;
    padding: 20px;
}

.headers td {
    border-top: solid black 4px;
    padding: 20px;
}

img {
    height: 40px;
    padding: 15px;
}

.addButton {
    display: flex;
    align-items: center;
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    color: grey;
}